body {
    padding: 15px;
    background-image: url(../images/rv500w.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20px;
    position: relative;
    top: 450px;
}

.dual-background {
    height: 700px;
}

.about-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content1 {
    display: grid;
    grid-template-columns: 1fr;

    position: relative;
    right: -200px;
    top: -250px;

    color: white;

    margin-right: 100px;
}

.content1 {
    display: grid;
    grid-template-columns: 1fr;
    width: 300px;

    position: relative;
    top: -500px;
    right: -400px;

    font-size: 30px;
}

.about-content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    position: relative;
    right: -160px;
    top: -300px;

    padding-bottom: 50px;

    color: black;

    margin-right: 100px;
}

.about-content3 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    position: relative;
    right: 30px;
    top: -300px;

    padding-bottom: 50px;

    color: black;

    margin-right: 100px;
}

.about-content3 img {
    height: 600px;
    width: 100vw;
}

.about-content4 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    position: relative;
    right: -160px;
    top: -300px;

    padding-top: 300px;
    padding-bottom: 300px;

    color: black;

    margin-right: 100px;
}

.content4-btn {
    padding: -20px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px;
    color: #7c3626;

    cursor: pointer;
}

.about-content5 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    position: relative;
    right: 40px;
    top: -300px;

    padding-bottom: 200px;

    color: black;

    margin-right: 100px;
}

.about-content5 img {
    height: 600px;
    width: 100vw;
}

.about-content6 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    position: relative;
    right: -160px;
    top: -300px;

    padding-top: 100px;
    padding-bottom: 200px;

    color: black;

    margin-right: 100px;
}

.content6 {
    position: relative;
    top: 100px;

    color: #7284a8;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;

    position: relative;
    right: -250px;

    color: black;

    margin-right: 100px;
}
