.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -30px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;

    background-image: linear-gradient(black, white);
    opacity: 0.8;

    position: fixed;
    top: 0;

    z-index: 99999;

    margin-bottom: 50px;
}

.spokane-logo img {
    height: 75px;
}

.spokane-logo:hover img {
    height: 85px;
    transition: .5s;
    filter: contrast(100);
}
.spokane-logo img {
    position: relative;
}

.links-wrapper {
    position: relative;
    right: -300px;
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.links-wrapper a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.link:hover a {
    color: goldenrod;
    text-decoration: #7c3626 underline;
    transition: .5s;
    font-size: 20px;
}

.social-links {
    position: relative;
    right: -420px;
}

.social-links i {
    color: white;
}

.social-links a {
    padding: 5px;
}

.social-links:hover a {
    font-size: 25px;
    transition: .5s;
}

.social-links:hover i {
    color: goldenrod;
}