body {
    padding: 15px;
    background-image: url(../images/rv500w.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20px;
    position: relative;
    top: 390px;
}

.first-btn {
    padding: -20px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px;
    color: #7c3626;
}

.first-btn a {
    color: #7c3626;
    text-decoration: none;
}