body {
    padding: 15px;
    background-image: url(../images/tribephoto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    position: relative;
    top: 350px;
    overflow-x: hidden;
}

.layer {
    background-color: rgba(0, 38, 128, 0.774);
    position: absolute;
    top: -350px;
    left: -10px;
    width: 100vw;
    height: 795px;
}

.first-btn {
    padding: -20px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px;
    color: #7c3626;
}

.first-btn a {
    color: #7c3626;
    text-decoration: none;
}

.content-wrapper {
    margin-top: 200px;
}

.top-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;

    font-size: 30px;

    position: relative;
    right: -120px;
    top: -300px;
}

.top-phrase {
    z-index: 99999;

    width: 700px;
}

.top-content-img img {
    height: 500px;
    width: 1000px;

    position: relative;
    left: -150px;
}

.top-content-img:hover img {
    transform: scale(1.1);
    transition: 0.5s;
}

.discover-btn {
    width: 125px;
    height: 45px;
    border-radius: 15px;
    margin-bottom: 25px;
    background-color: transparent;
    border-color: white;
    color: white;
}

.discover-btn a {
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 20px;
}

.discover-btn:hover a {
    color: goldenrod;
    transition: 0.5s;
}

.discover-btn:hover {
    color: goldenrod;
    transition: 0.5s;
    border-color: #7284a8;
    background-color: #7284a8;
}

.statement1 img {
    height: 300px;
}

.opportunities-image img {
    height: 500px;
    width: 750px;

    position: relative;
    left: 150px;
}

.opportunities-text {
    position: relative;
    right: -250px;
}