body {
    padding: 15px;
    background-image: url(../images/rv500w.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20px;
    position: relative;
    top: 390px;
}

.content-wrapper {
    margin-top: 200px;
}

.top-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;

    position: relative;
    right: -120px;
}

.discover-btn {
    width: 125px;
    height: 45px;
    border-radius: 15px;
    margin-bottom: 25px;
    background-color: transparent;
    border-color: white;
    color: white;
}

.discover-btn a {
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 20px;
}

.statement1 {
    color: #7c3626;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    position: relative;
    right: -350px;

    margin-top: 35px;
}

.statement1-underlying {
    position: relative;
    right: -300px;

    color: #7284a8;
}

.statement1-underlying button {
    position: relative;
    right: -400px;
}

.first-btn {
    padding: -20px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px;
    color: #7c3626;
}

.hover-image-statements {
    display: flex;
    justify-content: center;

    color: #7284a8;

    margin-top: 80px;
}

.hover-image-statements img {
    margin-bottom: 10px;
    margin: -40px;
}

.opportunities-image {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 150px;
}

.opportunities-text {
    color: #7284a8
}

