@media (max-width: 615px) {
    .header {
        flex-direction: column;
        height: 50px;
        width: 415px;
    }

    .spokane-logo img {
        height: 30px;
        margin-left: 8px;
    }

    .spokane-logo:hover img {
        filter: none;
        height: 40px;
    }

    .links-wrapper {
        position: relative;
        left: 15px;
    }

    .links-wrapper a {
        font-size: 12px;
        padding: 1px;
    }

    .link:hover a {
        font-size: 12px;
    }

    .dropdown {
        padding: 1px;
    }

    .dropbtn {
        font-size: 12px;
    }

    .social-links {
        display: grid;
        grid-template-columns: 1fr;

        position: relative;
        left: 20px;
    }

    .social-links:hover a {
        font-size: 20px;
    }
}